<!DOCTYPE html>
<html lang="en">


<head>
    <title>Toy Toon - Characters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS FILES -->
    <!-- Load Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Bootstrap v5 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.compat.css">
    <!-- AOS Scroll Animation -->
    <link rel="stylesheet" href="/css/aos.css">
    <!-- Load Styles -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- favicon icon -->
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favc-toys 1.png">


</head>

<body>
	<div class="Preloader"></div>

	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img  class= "logov" src="/images/favc-toys 1.png">
				<p>Toy Toon</p>
			</a>
            {{#if theUser }}

            {{else}}
			<a href="login" class="btn custom-btn d-lg-none ms-auto me-3">Login</a>
			<a href="register" class="btn custom-btn none ms-auto me-3 "> Register Now  </a>
            {{/if }}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav align-items-lg-center ms-auto  ">
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/Home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/Offer">Offers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/ShopByAge">Shop By Age</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/ShopBrandCharacter">  Shop Brand & Character</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/About">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link click-scroll" href="/ContactUs">Contact</a>
					</li>
				</ul>
                        {{#if theUser }}
                            <div class="dropdown-container animate animated animate zoomIn">
                            <div class="dropdown-toggle click-dropdown rounded-pill">
                            Welcome: {{theUser.name}} {{theUser.Sname}}
                            </div>
                            <div class="dropdown-menu">
                                {{#if userCart}}
                            <ul>
                                <li><a href="/login/my-cart"><i class="bi bi-cart"></i> {{userCart.totalQuantity}} </a></li>
                                <li><a href="/login/user-profile">My Account</a></li>
                                <li><a href="/login/logout">Log Out</a></li>
                            </ul>
                            {{/if}}
                            </div>
                        </div>
                        {{else}}
                        <a href="login" class="btn custom-btn d-lg-block d-none">Login <i class="bi bi-box-arrow-in-right "></i></a>
                        <a  id="cartIcon" href="cart" class="custom-btn ms-4"><i class="bi bi-cart"></i></a>
                        {{/if}}
			</div>
		</div>
	</nav>

    <!-- END nav -->

    <div class="hero-wrap hero-bread " style="background-image: url('/images/pexels-polesie-toys-6129704.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9  text-center animate animated animate fadeInUp animate fast">
          	<p class="text-dark"><span class="mr-2"><a href="/" class="text-dark">Home</a></span> <span>/ Characters</span></p>
            <h1 class="mb-0">Characters</h1>
          </div>
        </div>
      </div>
    </div>

    <section>
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-3 text-center animate animated animate fadeInUp animate fast">
    				<ul class="product-category">
    					<li><a href="/shop">All</a></li>
    					<li><a href="/shop/ages-0-4">By Ages</a></li>
    					<li><a href="/brands"  >By Brand</a></li>
    					<li><a href="/characters" class="active">By Character</a></li>
    				</ul>
    			</div>
    		</div>


{{#each items}}
<div class="row">
	{{#each this }}
    			<div class="col-md-6 col-lg-3  animate animated animate fadeInUp animate fast">
    				<div class="product">
    					<a href="{{this.charaUrl}}" class="img-prod"><img class="image-popup " src="{{this.imgPath}}" alt="ProductImg">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="{{this.charaUrl}}">{{this.brandName}}</a></h3>
    						<div class="d-flex">
                                
	    					</div>
    					</div>
    				</div>
    			</div>
				{{/each}}
	</div>
{{/each}}



    		</div> 
    		<div class="row mt-5">
        	<div class="col text-center">
            <div class="pages mb-4">
            <ul id="list">
                <li id="pg1" class="active"><a href="/characters">1</a></li>
                <li id="pg2"><a href="/characters?page=2">2</a></li>
                <li id="pg"><a href="/characters?page=3">3</a></li>
                <li id="pg"><a href="/characters?page=4">4</a></li>
                <li id="pg"><a href="#">5</a></li>
            </ul>
            </div>
        	</div>
        </div>
    	</div>
    </section>	

	<footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Toy Toon </h2>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="https://www.facebook.com/profile.php?id=100069308345587&sk=about_contact_and_basic_info" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://instagram.com/toytoon.store?igshid=YmMyMTA2M2Y=" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="" class="social-icon-link">
                                    <span class="bi-whatsapp"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Links</h5>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/Home" class="site-footer-link">Home</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/Offer" class="site-footer-link">Offers</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="ShopByAge" class="site-footer-link">By Age</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/ShopBrandCharacter" class="site-footer-link">Brand & Char</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/About" class="site-footer-link">About</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/ContactUs" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Have a question?</h5>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 010xxxxxxxx" class="site-footer-link">
                            Phone Number
                        </a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="" class="site-footer-link">
                            toytoonestore@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Location</h5>
                    <p class="text-white d-flex mt-3 mb-2">
                        Alexandria University , MIS Dep , Alexandria, Egypt</p>
                </div>
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2024 MIS Team</p>
                        <p class="copyright-text">Distributed by: <a href="">MIS Team</a></p>
                    </div>
                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Terms & Conditions</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Privacy Policy</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Your Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Bootstrap v5 -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <!-- AOS Animation -->
    <script src="/js/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
// Preloader
window.addEventListener('load', () => {
    const loader = document.querySelector('.Preloader');
    loader.classList.add('Preloader-hidden');
    loader.addEventListener('transitionend', () => {
        document.body.classList.remove('Preloader')
    })
})




// Get all the dropdown from document
document.querySelectorAll('.dropdown-toggle').forEach(dropDownFunc);

// Dropdown Open and Close function
function dropDownFunc(dropDown) {
    console.log(dropDown.classList.contains('click-dropdown'));

    if(dropDown.classList.contains('click-dropdown') === true){
        dropDown.addEventListener('click', function (e) {
            e.preventDefault();        
    
            if (this.nextElementSibling.classList.contains('dropdown-active') === true) {
                // Close the clicked dropdown
                this.parentElement.classList.remove('dropdown-open');
                this.nextElementSibling.classList.remove('dropdown-active');
    
            } else {
                // Close the opend dropdown
                closeDropdown();
    
                // add the open and active class(Opening the DropDown)
                this.parentElement.classList.add('dropdown-open');
                this.nextElementSibling.classList.add('dropdown-active');
            }
        });
    }

    if(dropDown.classList.contains('hover-dropdown') === true){

        dropDown.onmouseover  =  dropDown.onmouseout = dropdownHover;

        function dropdownHover(e){
            if(e.type == 'mouseover'){
                // Close the opend dropdowns
                closeDropdown();

                // add the open and active class(Opening the DropDown)
                this.parentElement.classList.add('dropdown-open');
                this.nextElementSibling.classList.add('dropdown-active');
                
            }
        }
    }

};


// Listen to the doc click
window.addEventListener('click', function (e) {

    // Close the menu if click happen outside menu
    if (e.target.closest('.dropdown-container') === null) {
        // Close the opend dropdown
        closeDropdown();
    }

});


// Close the openend Dropdowns
function closeDropdown() { 
    console.log('run');
    
    // remove the open and active class from other opened Dropdown (Closing the opend DropDown)
    document.querySelectorAll('.dropdown-container').forEach(function (container) { 
        container.classList.remove('dropdown-open')
    });

    document.querySelectorAll('.dropdown-menu').forEach(function (menu) { 
        menu.classList.remove('dropdown-active');
    });
}


    </script>
</body>
</html>